@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Projeto de extensão - claro */
        --background: 0 0% 95%; /* #f2f2f2 */
        --foreground: 40 6% 5%; /* #14120f */

        --primary: 24 100% 60%; /* #ff6600 */
        --primary-foreground: 0 0% 100%; /* branco sobre o laranja */

        --secondary: 285 76% 31%; /* #75138d */
        --secondary-foreground: 0 0% 100%;

        --tertiary: 63 100% 41%; /* #d1d500 */
        --tertiary-foreground: 0 0% 0%;

        --card: 0 0% 100%;
        --card-foreground: 40 6% 5%;

        --popover: 0 0% 100%;
        --popover-foreground: 40 6% 5%;

        --muted: 240 4% 90%;
        --muted-foreground: 240 4% 40%;

        --accent: 240 4% 90%;
        --accent-foreground: 240 4% 20%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 100%;

        --border: 240 5% 85%;
        --input: 240 5% 85%;
        --ring: 24 100% 60%; /* usar cor primária como ring */

        --chart-1: 24 100% 60%;
        --chart-2: 285 76% 31%;
        --chart-3: 63 100% 41%;
        --chart-4: 210 100% 20%; /* #003366 */
        --chart-5: 40 6% 5%; /* #14120f */

        --radius: 0.5rem;
    }

    .dark {
        /* Tema escuro */
        --background: 40 6% 5%; /* #14120f */
        --foreground: 0 0% 100%; /* branco */

        --primary: 24 100% 60%;
        --primary-foreground: 0 0% 100%;

        --secondary: 285 76% 31%;
        --secondary-foreground: 0 0% 100%;

        --tertiary: 63 100% 41%;
        --tertiary-foreground: 0 0% 0%;

        --card: 0 0% 10%;
        --card-foreground: 0 0% 100%;

        --popover: 0 0% 10%;
        --popover-foreground: 0 0% 100%;

        --muted: 0 0% 20%;
        --muted-foreground: 0 0% 65%;

        --accent: 0 0% 20%;
        --accent-foreground: 0 0% 100%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 100%;

        --border: 0 0% 20%;
        --input: 0 0% 20%;
        --ring: 24 100% 60%;

        --chart-1: 24 100% 60%;
        --chart-2: 63 100% 41%;
        --chart-3: 285 76% 31%;
        --chart-4: 0 0% 100%;
        --chart-5: 0 0% 80%;
    }

    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
